<mat-card >
  <mat-card-content class="example-card">
   <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title class="style">
       What do you mean by sports    <!-- question -->
    </mat-card-title>

    <!-- question description -->
    <p class="dec">Description:  Description of questions................................</p>
    <div mat-card-avatar class="image"></div> 
      <mat-card-subtitle  class="font">Hima Chandrashekaraiah</mat-card-subtitle>
    
          <mat-checkbox class="example-margin" align="end" [(ngModel)]="checked">Accepted</mat-checkbox>
        <p class="p"> Sport (British English) or sports (American English) includes all 
          forms of competitive physical activity or games which, through casual or organised participation, aim to use, maintain or improve physical ability and skills while providing enjoyment to participants, and in some cases, entertainment for spectators... <button class="view" mat-button>View More</button></p>
      <br>
      <button id="b3" mat-mini-fab color="primary" (click)="upvote1()">{{count1}}<i class="material-icons">thumb_up</i></button>
      <button id="b4" mat-mini-fab color="warn" (click)="downvote1()">{{count2}}<i class="material-icons">thumb_down</i></button>
      <br>
      <br>
      <div style="background-color:honeydew" width="100px" height="100px" >
      <mat-form-field>
            <textarea #newHero1 matInput placeholder="Leave a comment" rows="1" cols="100"></textarea>
     </mat-form-field>
          <button class="buttonformats" mat-raised-button color="Basic"(click)="addHero1(newHero1.value);newHero1.value=''">Submit </button>
          <ul><li *ngFor="let hero1 of heroes1">{{hero1}}
            
      <mat-form-field>
        <textarea class="reply1" #data matInput placeholder="Leave a reply" rows="1" cols="100"></textarea>
      </mat-form-field>
            <button id="b6" (click)="reply(data.value); data.value=''"><i class="material-icons">reply</i></button>  {{time}}
            <button id="b4" mat-mini-fab color="primary" (click)="upvote2()">{{count3}}<i class="material-icons">thumb_down</i></button>
            <button id="b4" mat-mini-fab color="warn" (click)="downvote2()">{{count4}}<i class="material-icons">thumb_up</i></button>
      </li>
          <ul>
              <li *ngFor="let inner of InnerData">
                  {{inner}}
      <mat-form-field>
         <textarea class="reply1" #data matInput placeholder="Leave a reply" rows="1" cols="100"></textarea>
      </mat-form-field>
         <button id="b6" (click)="reply(data.value); data.value=''"><i class="material-icons">reply</i></button> {{time}}
          <button id="b4" mat-mini-fab color="primary" (click)="upvote3()">{{count5}}<i class="material-icons">thumb_down</i></button>
          <button id="b4" mat-mini-fab color="warn" (click)="downvote3()">{{count6}}<i class="material-icons">thumb_up</i></button>
      </li>











          </ul>
        </ul>
       </div>
        <br>
        <div mat-card-avatar class="image"></div> 
        <mat-card-subtitle  class="font">Shalini-Ganesh</mat-card-subtitle>
      
          <mat-checkbox class="example-margin" [(ngModel)]="checked1">Accepted</mat-checkbox>
          <p class="p">
      Sport (or sports) is all forms of usually competitive physical activity which, through casual or organised participation, aim to use, maintain or improve physical ability and skills while providing entertainment to participants, and in some cases, spectators................. <button class="view" mat-button>View More</button>
          </p>
        <br>
      <button id="b3" mat-mini-fab color="primary" (click)="upvote4();">{{count7}}<i class="material-icons">thumb_up</i></button>
      <button id="b4" mat-mini-fab color="warn" (click)="downvote4()">{{count8}}<i class="material-icons">thumb_down</i></button>
      <br>
      <br>

      <div style="background-color:honeydew" width="60px" height="60px">
   <mat-form-field>
      <textarea #newHero matInput placeholder="Leave a comment" rows="1" cols="100"></textarea>
    </mat-form-field>
    <button class="buttonformats" mat-raised-button color="Basic"(click)="addHero(newHero.value);newHero.value=''">Submit </button>
    <p class="inset"></p>
    <ul><li *ngFor="let hero of heroes">{{hero}}
      <mat-form-field>
          <textarea class="reply1" #data1 matInput placeholder="Leave a reply" rows="1" cols="100"></textarea>
      </mat-form-field>
    <button id="b6" (click)="reply1(data1.value); data1.value=''"><i class="material-icons">reply</i></button> {{time}}
    <button id="b4" mat-mini-fab color="primary" (click)="upvote5()">{{count9}}<i class="material-icons">thumb_down</i></button>
    <button id="b4" mat-mini-fab color="warn" (click)="downvote5()">{{count}}<i class="material-icons">thumb_up</i></button>
    <ul>
      <li *ngFor="let inner1 of InnerData1">
          {{inner1}}
      <mat-form-field>
        <textarea class="reply1" #data1 matInput placeholder="Leave a reply" rows="1" cols="100"></textarea>
      </mat-form-field>
    <button id="b6" (click)="reply1(data1.value);data1.value"><i class="material-icons">reply</i></button>{{time}}
    <button id="b4" mat-mini-fab color="primary" (click)="upvote1()">{{count1}}<i class="material-icons">thumb_down</i></button>
    <button id="b4" mat-mini-fab color="warn" (click)="downvote1()">{{count2}}<i class="material-icons">thumb_up</i></button>
      </li>
    </ul>
  </ul>  

 </div>
</mat-card-content>
</mat-card>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">